@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="card-container">
            <div class="header-container">
                <img src="nudi_logo.png" class="header-logo" alt="Nudi Logo" />
                <h1 class="text-center header-title">Kannada Nudi</h1>
            </div>

            <article class="content">
                @Body
            </article>
        </div>
    </main>

    <footer class="app-footer">
        Developed by <a href="https://Codegres.com" target="_blank">Codegres</a>. Guided by <a href="https://kagapa.com/" target="_blank">KAGAPA</a>
    </footer>
</div>
