@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://kagapa.com/" target="_blank">KAGAPA</a>
        </div>

        <div class="card-container mt-3">
            <h1 class="text-center">Kannada Nudi Web</h1>

            <article class="content">
                @Body
            </article>
        </div>
    </main>

    <footer class="app-footer">
        Developed with love by <a href="https://Codegres.com" target="_blank">Codegres</a>
    </footer>
</div>
